@import '../../styles/borders';
@import '../../styles/colors';

.option {
  overflow: auto;

  .inputRow {
    display: flex;

    input {
      width: 100%;
      margin-right: 3px;
      @include bottom-border;
    }

    .icon {
      cursor: pointer;

      svg {
        width: 35px;
        height: 30px;
        padding-top: 5px;
      }
    }

    .clearIcon svg {
      color: $red;
    }

    .dragIcon {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      svg {
        color: $blue;
      }
    }
  }
}
